# Wurst
/_build
wurst.dependencies
.vscode/settings.json
/temp
/backups

# Generated
wurst/war3map.j
bin/generated.j

# VIM
.*.un~
.*.swp

# JASSHelper
logs/
tmp*

# Other map files
compiled-maps/*

# Generated Changelog
markdown_changelog.md
