# VS Code
.vscode/*

# Wurst
/_build
wurst.dependencies
/temp
/backups

# Generated
bin/generated.j

# VIM
.*.un~
.*.swp

# JASSHelper
logs/
tmp*

# Other map files
/*.w3x
compiled-maps/*
compiled.j.txt

# Generated Changelog
markdown_changelog.md

# Python scripts
__pycache__
